
.card-container
{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 227px;
    padding: 8px;
    border-radius: 4px;
    position: relative;
}

.card-container a
{
    cursor: pointer;
}

.bg 
{
    height: 90%;
    width: 90%;
    padding: 10px;
    border-radius: 4px;
}


.card-content
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.card-header a
{
    z-index: 2;
}
.card-footer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
    
}
.card-footer p
{
    font-family: Rubik;
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-align: left;
    line-height: 16px;
    vertical-align: top;
    
}
.card-footer p:first-child
{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-align: left;
    margin-bottom: 5px;
    
}

.card-footer span 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
}
.card-footer span img
{
    margin-right: 5px;
}


.hidden
{
    display: none;
}
.displayed
{
    display: block;
    z-index: 2;
}

.card-container .detail 
{   
    position: absolute;
    background-color: rgba(255, 255, 255,1);
    width: 70%;
    height: fit-content;
    border-radius: 4px;
    padding: 10px 1%;
    top:45px;
    left: 18%;
    
}

.card-container .detail .action
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap:15% ;
    border-bottom: solid 1px  #F2F3F5;
    margin: auto;
    width: 80%;
}

 .action:hover 
{
    background-color: #ebebeb;
    border: solid 1px  #F2F3F5;
    border-radius: 4px;
    padding: 5px 3%;
}
.card-container .detail .action p
{
    margin:10px 0 ;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
}

.card-container .goto-item
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}