/* The sidebar menu */
.sidenav {
    width: 14%; /* Set the width of the sidebar */
    background-color: #f5f5f5; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 15px 1%;
  }
  
